/* line 3, ../../sass/components/_breadcrumb.sass */
.breadcrumb li {
  list-style-type: none;
  display: inline-block;
}

/* line 3, ../../sass/components/_navigation.sass */
#navigation li {
  list-style-type: none;
  display: inline-block;
}

/* line 2, ../../sass/components/_site-name.sass */
.site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

/* line 1, ../../sass/components/_pager.sass */
.pager__item {
  display: inline;
}
/* line 4, ../../sass/components/_pager.sass */
.pager__item a {
  display: inline-block;
}

/* line 2, ../../sass/components/_nfl-sidebar.sass */
#block-views-block-nfl-sidebar-1-block-1 .views-row {
  margin: 5px auto;
  background: white;
  border-radius: 5%;
}
/* line 6, ../../sass/components/_nfl-sidebar.sass */
#block-views-block-nfl-sidebar-1-block-1 .views-row .team-logo {
  float: left;
  max-width: 25%;
}
/* line 12, ../../sass/components/_nfl-sidebar.sass */
#block-views-block-nfl-sidebar-1-block-1 .views-row .team-logo img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* line 16, ../../sass/components/_nfl-sidebar.sass */
#block-views-block-nfl-sidebar-1-block-1 .views-row .team-name {
  float: left;
  max-width: 50%;
}
/* line 19, ../../sass/components/_nfl-sidebar.sass */
#block-views-block-nfl-sidebar-1-block-1 .views-row .recent-article {
  background: whitesmoke;
  clear: left;
  border: 5%;
}

/* line 1, ../../sass/components/_sports-teaser.sass */
.teaser-content {
  margin: 2px;
  background: lightcyan;
}
/* line 5, ../../sass/components/_sports-teaser.sass */
.teaser-content .teaser-title a {
  margin-left: 33%;
  color: black;
  font-weight: bold;
  display: inline-block;
}
/* line 10, ../../sass/components/_sports-teaser.sass */
.teaser-content .teaser-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 33%;
  padding: 2.5px;
  display: inline-block;
}
/* line 17, ../../sass/components/_sports-teaser.sass */
.teaser-content .teaser-body {
  margin-left: 33%;
  color: black;
  display: block;
}
/* line 21, ../../sass/components/_sports-teaser.sass */
.teaser-content .teaser-meta {
  margin-left: 33%;
  color: grey;
  display: inline-block;
}
/* line 25, ../../sass/components/_sports-teaser.sass */
.teaser-content .teaser-meta .team-tag {
  color: lightskyblue;
  float: left;
}
