/*
Error: File to import not found or unreadable: lib/bourbon/bourbon.
        on line 26 of config/_config.sass
        from line 1 of base/base.sass
        from line 10 of style.scss

Backtrace:
config/_config.sass:26
base/base.sass:1
style.scss:10
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/import_node.rb:45:in `import'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:314:in `visit_import'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `map'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/stack.rb:88:in `block in with_import'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/stack.rb:88:in `with_import'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `map'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/stack.rb:88:in `block in with_import'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/stack.rb:88:in `with_import'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/engine.rb:384:in `_render_with_sourcemap'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/engine.rb:301:in `render_with_sourcemap'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/exec/base.rb:52:in `parse'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/exec/base.rb:19:in `parse!'
/Users/jonny/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.25/bin/scss:13:in `<top (required)>'
/Users/jonny/.rbenv/versions/2.2.1/bin/scss:23:in `load'
/Users/jonny/.rbenv/versions/2.2.1/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: lib/bourbon/bourbon.\A         on line 26 of config/_config.sass\A         from line 1 of base/base.sass\A         from line 10 of style.scss"; }
